.big {
    color: rgb(230, 139, 3);
    font-size: 30px;
}

.red {
    color: red;
}

.font1 {
    font-family: Arial, "Helvetica Neue", Helvetica, serif;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
}

.right {
    text-align: right
}

.CAPS {
    text-transform: uppercase;
}

.kursiv {
    font-style: italic;
}

.underline {
    text-decoration-line: underline;
}

.textcenter {
    text-align: center;
}
.bigl {
    font-size: large;
    font-weight: 500;
}

.crossed {
    text-decoration-line: line-through;
}

.font2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bold {
    font-weight: 800;
}